@charset "ISO-8859-1";

<style type="text/css">
 input[type=text]{
  width:100%;
  padding:12px;
  margin-top: 6px; 
    margin-bottom: 16px;
}
 input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
 input[type=submit]:hover {
    background-color: #FF00FF;
}
 .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}
</style>